<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   DurgaMatha.plist
   MyFavorites_pdl

   Created by Ravi Pinamacha on 7/13/17.
   Copyright (c) 2017 Ravi Pinamacha. All rights reserved.
-->
<plist version="1.0">
    <array>
        <dict>
            <key>title</key>
            <string>Mahishasura_Mardini</string>
            <key>titleTelugu</key>
            <string>మహిషాసురమర్దిని</string>
        </dict>
    </array>
</plist>
