<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Kakad_Aarathi</string>
		<key>titleTelugu</key>
		<string>కకద్ ఆరతి</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Madhyana_Aarathi</string>
		<key>titleTelugu</key>
		<string>మద్యాన్ ఆరతి</string>
	</dict>
    <dict>
        <key>title</key>
        <string>Dhoop_Aarathi</string>
        <key>titleTelugu</key>
        <string>ధోప్ ఆరతి</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Shej_Aarathi</string>
        <key>titleTelugu</key>
        <string>షెజ్ ఆరతి</string>
    </dict>
</array>
</plist>
